{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event App</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.5-dist/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap-5.3.5-dist/js/bootstrap.bundle.js' %}"></script>

    <style>
        #header {
            background-image: url("{% static 'header.jpg' %}");
            background-size: cover;
            background-position: center;
            height: 400px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">Event Management App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"  href="{% url 'index' %}">Home</a></li>
                <a class="nav-link" href="{% url 'add' %}">Ask for event</a>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid pt-5" id="header">
    <p class="h5 fw-lighter pt-5 ms-5">THE BEST SOLUTIONS FOR OUR CLIENTS</p>
    <p class="h1 w-50 ms-5">We create exclusive events using modern technologies and extensive features.</p>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        {% for event in events_list %}
            <div class="col-md-4 {% if not forloop.counter0|divisibleby:2 %}mt-0{% else %}mt-5{% endif %}">
                <div class="card">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" alt="{{ event.name }}" style="height:300px;" class="card-img-top">
                    {% else %}
                        <p>No poster available</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        {% if event.is_outside %}
                            <p>Outside</p>
                        {% else %}
                            <p>Inside</p>
                        {% endif %}
                    <a href="{% url 'edit' event.id %}" class="btn btn-info">Edit </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
