{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Real Estate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-start">
    <div class="row">
        <div class="col mt-5 pt-5 ">
            <h1 class="fw-bold fs-1">Architecture</h1>
            <h3 class="fw-light fs-2">Bureau</h3>
        </div>
        <div class="col ">
            <img src="{% static 'house3.jpg' %}" alt="Photo">
        </div>
    </div>
</div>
<div class="container ">
    <div class="row">

        <div class="col ">
            <img src="{% static 'house4.jpg' %}" alt="Photo">
        </div>
        <div class="col mt-5 pt-5 col-3">
            <h4 class="fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at aut
                consequuntur, deleniti dignissimos dolorum error ex exercitationem explicabo illum neque nulla
                obcaecati,
                quo recusandae repellendus sint ullam vero voluptatem.</h4>
        </div>
    </div>
</div>
{#karticki#}
<h1 class="d-flex justify-content-center fw-bold fs-1 mt-5">
    We offer variety of projects
</h1>

<div class="row">
    {% for card in real_estates %}
        <div class="col-4 px-5">
            <div class="card p-1 m-1 g-0" style="width: 18rem; ">
                <img src="{{ card.real_estate.image.url }}" class="card-img-top" alt="..." style="height: 200px">
                <div class="card-body">
                    <h5 class="card-title">{{ card.real_estate.name }}</h5>
                    <p class="card-text">{{ card.real_estate.description }}</p>
                    <p class="card-text">Area: {{ card.real_estate.area }}</p>
                    <p class="card-text">Total price: ${{ card.price }}</p>
                    <a href="{% url 'edit' card.real_estate.id %}" class="btn btn-dark">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>